h1{

    color: red;
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: green;
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

input{
    color: green;
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

button{
    color: green;
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

img{
    color: green;
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
